<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <div class="elexLogo"> <div class="text"> <h3>ELECTION</h3> </div> <img src="https://static.startribune.com/news/projects/all/20200303-elex-results/build/img/ELEX2020.svg" alt="Election 2020"> </div>
      <h1>Once regional, early voting has swept across Minnesota</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2020-10-16T16:00:00">October 16, 2020</time>
      </div>
      
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin">
            <p>As Minnesotans request a record <a href="https://www.startribune.com/x/572588741/">2 million absentee ballots</a> before Election Day on Nov. 3, it’s clear early voting has transformed from being more common in the state’s sparsely-populated regions to a staple of political engagement during a time of global pandemic.</p>

            <p>Early voting has expanded wildly compared to the last two statewide elections, <a href="https://www.startribune.com/across-state-and-on-both-sides-minnesotans-overwhelmingly-vote-absentee/572619972/">in urban, suburban and rural counties alike</a>, transcending typical cultural distinctions between residents of small towns and big cities.</p>

            <p>Despite partisan disagreements over the safety and validity of mail-voting, both Republican and Democratic areas of the state have seen unprecedented growth in advanced voting, narrowing the window for the trajectories of political races to change as October wanes.</p>

            <p>Here are some key ways use of no-excuses absentee voting has evolved in Minnesota and what implications it may have for voter enthusiasm and overall turnout during a high-stakes election:</p>
        </section>
    
        <section id="scroll">
            <div class="scroll__graphic sticky">
                <div id="ios-spacer"></div>
                <div id="map-container">
                    <div class="center" id="mainLegend">
                        <div class="explain">Statewide, <span id="counterNum" class="legendary">0</span>% of votes were cast absentee in the <span id="year">2014</span> <span id="kind">general</span> election.</div>
                        <div class="legend"><div class="null"></div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div></div>
                        <div class="legend"><div class="white">0%</div><div class="white">&nbsp;</div><div class="white"></div><div class="white">&nbsp;</div><div class="white">&nbsp;</div><div class="white">100%</div></div>
                    </div>
                    <div class="center" id="changeLegend">
                            <div class="explain">Statewide, absentee balloting is up <span id="bigcount" class="legendary green4">600</span>% from 2018.</div>
                            <div class="legend"><div class="orange5"></div><div class="orange3"></div><div class="orange1"></div><div class="green1"></div><div class="green3"></div><div class="green5"></div></div>
                            <div class="legend"><div class="white">-1000%</div><div class="white">-500%</div><div class="white">-100%</div><div class="white">+100%</div><div class="white">+500%</div><div class="white">+1000%</div></div>
                    </div>
                    <div class="center" id="splitLegend">
                            <div class="explain"><span class="dfl">Clinton</span> counties cast <span id="partisanCount" class="legendary blue5">64</span>% of accepted absentee ballots, the rest are from <span class="gop">Trump</span> areas.</div>
                            <div class="legend"><div class="blue4"></div><div class="blue3"></div><div class="blue1"></div><div class="red1"></div><div class="red3"></div><div class="red5"></div></div>
                            <div class="legend"><div class="white">30%</div><div class="white">15%</div><div class="white">1%</div><div class="white">1%</div><div class="white">15%</div><div class="white">30%</div></div>
                    </div>
                  <svg id="precinct-map" viewBox="0 120 640 760" preserveAspectRatio="xMidYMin meet"></svg>
                </div>
              </div>


              
          <div class="scroll__text">
            <div class="step" data-step="1" data-scrollama-index="0">
                <div class="chartTitle">2014 general election</div>
                <p>Minnesota has used mail-in voting since before World War II. But 2014's midterms and gubernatorial election provided the state's first foray into its newly-approved absentee voting law, which lifted the requirement for residents to provide reasons they needed to vote early.</p>

                <p>Yet public awareness had yet to fully catch on, so the highest rates of adoption remained confined to sparsely-populated regions in northern and western Minnesota where many mail-only precincts resided.</p>
            </div>
    
            <div class="step" data-step="2" data-scrollama-index="1">
                <div class="chartTitle">2016 general election</div>
                <p>Use of early voting in Minnesota jumped considerably during the 2016 general election, the first presidential year where no-excuses absentee balloting was available, and nearly a quarter of total voters took advantage.</p>

                <p>Early balloting as a percentage of overall voting increased across the state, with more than a half million mail-in and in-person advanced votes being cast – though rural counties maintained the highest rates.</p>
            </div>
    
            <div class="step" data-step="3" data-scrollama-index="2">
                <div class="chartTitle">2018 general election</div>
                <p>While 2018's gubernatorial race drew a similar percentage of absentee ballots as 2016, it played a significant role in <a href="https://www.startribune.com/600-000-minnesotans-have-already-voted-here-s-what-we-re-watching/489888171/">boosting</a> Minnesota’s  <a href="https://www.startribune.com/new-data-shows-how-voter-enthusiasm-drove-huge-midterm-turnout/502087971/">midterm voter turnout</a>, which had been sliding since the turn of the century.</p>

                <p>Higher rates of absentee voting continued to increase in northern Minnesota counties and those along its western edge. For instance, among the dozen counties comprising northwestern Minnesota, about 40 percent of voters cast absentee ballots.</p>

                <p>Meanwhile, adoption in places like Hennepin and Ramsey was stagnant, floating below 30 percent of their combined ballots. </p>
            </div>
    
            <div class="step" data-step="4" data-scrollama-index="3">
                <div class="chartTitle">2020 state primaries</div>
                <p>So far this year, the COVID-19 pandemic has caused a dramatic shift in how Minnesotans vote, with <a href="https://www.startribune.com/6-of-10-minnesota-primary-voters-cast-ballots-absentee-or-by-mail-tripling-turnout/568966771/">6-in-10</a> of the state’s primary vote arriving absentee, all but five percent via mail.</p>

                <p>The sudden exponential expansion of early voting also accompanied a huge increase in turnout, as more Minnesotans cast absentee ballots than the entirety of 2016’s state primary vote. This led to higher early voting rates spreading across the state, including in the Twin Cities metro area where adoption had been relatively slower.</p>

                <p>And even amid concerns of the system being strained under the influx of mail-in ballots, <a href="https://www.startribune.com/minnesota-s-primary-had-few-late-or-rejected-mail-ballots/572590841/">relatively few were rejected or arrived late</a>.</p>
            </div>
    
            <div class="step" data-step="5" data-scrollama-index="4">
                <div class="chartTitle">2020 general election</div>
                <p>With less than three weeks remaining before this year’s general election, nearly a million absentee ballots have been sent back by voters and accepted – and they’re coming from nearly everywhere across Minnesota.</p>

                <p>Some of the largest rate increases are still in rural counties, though notably less so in many of those northwestern counties where adoption was already very high.</p>

                <p>At the current pace, absentee balloting alone is set to shatter turnout records in Minnesota and could alone seal the electoral outcomes of many races up and down the ballot.</p>
            </div>

            <div class="step" data-step="6" data-scrollama-index="5">
                <div class="chartTitle">Partisan implications</div>
                <p>The massive spike in absentee balloting could also indicate significant voter enthusiasm this year, particularly among those who usually vote for Democrats.</p>

                <p>In Minnesota’s state primary this year, the half-million absentee ballots cast favored a big increase in Democratic turnout. For instance, in Minnesota’s U.S. Senate primary, the number of Democratic votes more than doubled Republican totals.</p>

                <p>Additionally, about 40 percent of the entire primary vote was comprised of just absentee ballots from the nine counties Hillary Clinton carried to narrowly win Minnesota in 2016. This year, those same counties represent almost two-thirds of accepted absentee ballots ahead of Nov. 3.</p>

                <p>And even more votes are incoming. <a href="https://www.startribune.com/poll-minnesota-voters-split-on-integrity-of-mail-in-voting/572533691/">A recent Minnesota Poll</a> found 61 percent of those surveyed intend to vote on Election Day, including 46 percent of Democrats and 78 percent of Republicans.</p>
            </div>
          </div>
        </section>
        
      </div>

      <section class="body container-lg">

            <p class="buffer">&nbsp;</p>
            <div class="subscribe-promo">
            <img src="https://www.startribune.com/static/img/branding/logos/startribune-star-black.svg" alt="Star Tribune" width="45" height="45"><h3>Be Informed. Be Ready. Be a Subscriber.</h3>
            <a href="https://users.startribune.com/placement/6/environment/3/PreElectionPDAPromotion/start?offer=689" target="_blank"><h4>Subscribe today</h4></a>
            </div>

          <div class="article-author-contact">

            </div>

            <section class="credits">
                <p>Source: Minnesota Secretary of State</p>
            </section>

            <p>&nbsp;</p>

            <div class="listing">
              <p><strong>Further reading</strong></p>
              <p><a href="https://www.startribune.com/x/572588741/">2020 Election: Tracking Minnesota’s early vote</a></p>

              <p><a href="https://www.startribune.com/minnesota-voters-guide-2020-election-senate-house-candidates-who-is-running-gop-dfl-issues/572227401/">2020 Minnesota Election Guide</a></p>

              <p><a href="https://www.startribune.com/minnesota-s-primary-had-few-late-or-rejected-mail-ballots/572590841/">Minnesota's primary had few late or rejected mail ballots</a></p>

              <p><a href="https://www.startribune.com/across-state-and-on-both-sides-minnesotans-overwhelmingly-vote-absentee/572619972/">Minnesotans across the state overwhelmingly are voting absentee</a></p>

              <p><a href="https://www.startribune.com/what-happens-to-your-minnesota-mail-in-absentee-ballot-after-you-mail-it-votes-counted/572029141/">What happens to your Minnesota absentee ballot after you mail it?</a></p>

              <p><a href="https://www.startribune.com/what-would-it-take-for-trump-to-win-minnesota-over-biden/571806701/">What would it take for Trump to flip Minnesota?</a></p>

              <p><a href="https://www.startribune.com/top-minnesota-election-official-defends-integrity-of-mail-in-ballots/572593782/">Top Minnesota election official defends integrity of mail-in ballots</a></p>

              <p><a href="https://www.startribune.com/poll-minnesota-voters-split-on-integrity-of-mail-in-voting/572533691/">Poll: Minnesota voters split on security of mail-in voting</a></p>

              <p><a href="https://www.startribune.com/6-of-10-minnesota-primary-voters-cast-ballots-absentee-or-by-mail-tripling-turnout/568966771/#comment">Minnesota voter turnout triples as majority cast absentee ballots</a></p>
          </div>
      </section>

      <section class="body container-lg">
        <div class="article-author-contact">
            <div class="article-author-hcard">
                    <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                    <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Once regional, early voting has swept across Minnesota" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                    <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                    <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
            </div>
          </div>
    </section>
  </div>